@model IEnumerable<BibliotecaDigital.Models.Usuarios>

@{
    ViewData["Title"] = "Listado de Usuarios";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">➕ Crear Usuario</a>
</p>

<table class="table table-bordered table-striped">
    <thead class="table">
    <tr>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Documento</td>
            <td>@item.Correo</td>
            <td>@item.Telefono</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Menu" asp-action="Index" class="btn btn-primary">Volver</a>